
    <h1>Now Playing</h1>

    {{#each movies}}
    <div class="movie-poster">
    <a href="/movies/{{this.id}}" class="thumbnail">
    <li>{{this.title}}
    <img src="https://rickandmortyapi.com/api/character/avatar/{{this.image}}"></a>    </li>
    </a>
    </div>
    {{/each}}




